{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block extrahead %}
	{{ form.media }}
{% endblock %}


<!--- css -->
	
{% block title %}Facture{% endblock %}

{% block content %}
	<div class="container">
		<h2>Facture</h2>
		<form method="post" class="form" enctype="multipart/form-data">
			{% csrf_token %}
			
			{% bootstrap_form form %}
			
			<button type="submit" class="btn btn-primary" value="Save">Save</button>
			<button type="submit" class="btn btn-primary" name="facture-add" value="facture-add">Save and add another</button>
		</form>
	</div>
{% endblock %}

