{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!--- css -->
	
{% block title %}Document upload{% endblock %}

{% block content %}
	<div class="container">
		<link rel="stylesheet" type="text/css" href="{% static 'users/user_form.css' %}">
		<h2>Client document uplaod</h2>
		<form method="post" class="form" enctype="multipart/form-data">
			{% csrf_token %}
			
			{% bootstrap_form form %}
			
			<button type="submit" class="btn btn-primary" value="Save">Upload</button>
		</form>
	</div>
{% endblock %}
