{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!--- css -->

	
{% block title %}Note list{% endblock %}

{% block content %}
	<div class="container">
		
		
		<div class="container">
		<form method="post" class="form">
			{% csrf_token %}
			
			<div class="row">
				<div class="col-sm-10">
					<h{{ user.first_name}} {{ user.last_name}}'s Note</h4>
				</div>
				<div class="col-sm-1">
					<a href="{% url 'note-add' %}" button type="submit" class="btn btn-success">Ajouter</button></a>
				</div>
			</div>
			<table class="table">
				<tbody>
					{% for element in note_list %}
						<tr>
							<td>
								{{ element.date|date:"F Y" }}
							</td>
							
							<td>
								<a href="{% url 'note-update' element.id %}" button type="submit" class="btn btn-primary">Update</button></a>
							</td>
							<td>
								<a href="{% url 'note-delete' element.id %}" button type="submit" class="btn btn-danger">Delete</button></a>
							</td>
						</tr>
					{% endfor %}	
				
				</tbody>
			</table>
		</form>
	</div>
{% endblock %}